﻿/*
se voglio usare un font a pagamento, ottengo il file e lo includo così
*/
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.ttf');
}

body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    /*
    con font-family si definisce il font da usare nel tag. Siccome body contiene tutti i tag, vale per tutta la pagina
    font-family: Arial,Helvetica,sans-serif;
    */
}
/* 
    i selettori possono essere:
    1) nomi di tag (es:body)
    2) id (es:#mycodcli)
    3) classi (es:.tabing)
    4) combinazioni dei 3 (es:table .tabing)
    5) più selettori raggruppati (es:table,#mycodcli)
*/
.ingbutton {
    cursor: pointer;
    border-spacing: 4px;
    border-radius: 8px;
    width: 295px;
    font-weight: bold;
    font-size: large;
}

#ccli, #dcli {
    /* 
        I campi di input hanno il testo grassetto e large 
    */
    width: 295px;
    font-weight: bold;
    font-size: large;
}

.container {
    max-width: 360px;
}

.stondato {
    border-spacing: 4px;
    border-radius: 8px;
    text-align: center;
}

table tr td {
    padding: 8px;
    min-width: 22px;
}

#mykeyboard tr td {
    /* 
        Le celle del tastierino hanno lo sfondo come i bottoni, 
        il testo blu e cambiano il cursore in pointer 
    */
    cursor: pointer;
    background-color:ButtonFace;
    color:darkblue;
}

.grigio {
    border: 2px solid grey;
}

.arancio {
    border: 2px solid #ff6600;
}

